<% var data = {
  title: "Menu-menu",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main>
  <section class="hero">
    <div class="hero_container container">
      <div class="row">
        <div class="breadcrumbs">
          <span class="breadcrumbs_item"><a href="#">Доставка еды</a></span>
          <span class="breadcrumbs_item"><a href="#">Минск</a></span>
          <span class="breadcrumbs_item"><a href="#">Суши</a></span>
        </div>
        <div class="hero_text">
          <h1 class="hero_text_title">Доставка суши и роллов в Минске</h1>
          <p class="hero_text_description">Укажите ваше местоположение, чтобы мы смогли предложить вас список доступных ресторанов</p>
        </div>

        <div class="hero_adress">
          <form class="hero_adress_form">
              <div class="hero_adress_form_input_wrapper fa">
                <input class="hero_adress_form_input" placeholder="Укажите адрес доставки..." />
                <span class="hero_adress_form_input_close">×</span>

                <ul class="hero_adress_form_input_list">
                  <li class="hero_adress_form_input_list_item">
                    <span>улица Кирова</span>
                    <span>Беларусь, Минск</span>
                  </li>
                  <li class="hero_adress_form_input_list_item">
                    <span>улица Кирова</span>
                    <span>Беларусь, Минск</span>
                  </li>
                </ul>

              </div>
              <input class="hero_adress_form_submit" type="submit" value="Показать рестораны"/>
          </form>
        </div>
        <div class="hero_adress mobile">
          <div class="hero_adress_button"><i class="fa fa-location-arrow" aria-hidden="true"></i> Укажите адрес</div>
        </div>
      </div>
    </div>
  </section>
  

  <section class="categories">
    <div class="container">
      <div class="row">
        <div class="categories_list">
          <div class="categories_item active">
              <a class="categories_item_link" href="/"></a>
                <img class="categories_item_img " data-src="/images/category_icons/sushi1.png" alt="" src="/"/>
                <div class="categories_item_text">Все</div>
              </a>
          </div>
          <div class="categories_item">
              <a class="categories_item_link" href="/">
                <img class="categories_item_img " data-src="/images/category_icons/sushi1.png" alt="" src="/"/>
                <div class="categories_item_text">Суши</div>
              </a>
          </div>
          <div class="categories_item">
              <a class="categories_item_link" href="/">
                <img class="categories_item_img " data-src="/images/category_icons/sushi1.png" alt="" src="/"/>
                <div class="categories_item_text">Бургеры</div>
              </a>
          </div>
          <div class="categories_item">
              <a class="categories_item_link" href="/">
                <img class="categories_item_img " data-src="/images/category_icons/sushi1.png" alt="" src="/"/>
                <div class="categories_item_text">Все</div>
              </a>
          </div>
          <div class="categories_item">
              <a class="categories_item_link" href="/">
                <img class="categories_item_img " data-src="/images/category_icons/sushi1.png" alt="" src="/"/>
                <div class="categories_item_text">Суши</div>
              </a>
          </div>
          <div class="categories_item">
              <a class="categories_item_link" href="/">
                <img class="categories_item_img " data-src="/images/category_icons/sushi1.png" alt="" src="/"/>
                <div class="categories_item_text">Бургеры</div>
              </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="search">
    <div class="container">
      <div class="row">
          <div class="search_form">
            <div class="search_form_input_wrapper fa">
              <input class="search_form_input" placeholder="Название, кухня или блюдо" />
            </div>
          </div>
        </div>
      </div>
  </div>

  <section class="sales">
    <div class="section_title">
      <div class="container">
        <h2>Акции</h2>
      </div>
    </div>
    <div class="sales_container container">
      <div class="row">
        <div class="sales_list slick">

          <div class="restaraunt_item">
            <div class="restaraunt_item_wrapper">
              <div class="restaraunt_item_bg"></div>
              <div class="restaraunt_item_options">
                <span class="restaraunt_item_options_type tooltip" title="123123123"><i class="fa fa-gift" aria-hidden="true"></i></span>
                <span class="restaraunt_item_options_rate">5.0</span>
              </div>
            </div>
            <div class="restaraunt_item_text">
              <div class="restaraunt_item_text_title">Название</div>
              <div class="restaraunt_item_text_info">
                <span class="restaraunt_item_text_info_time">
                  ~45мин
                </span>
                <span class="restaraunt_item_text_info_cost">
                  заказ от 0 руб.
                </span>
              </div>
            </div>
          </div>

          <div class="restaraunt_item">
            <div class="restaraunt_item_wrapper">
              <div class="restaraunt_item_bg"></div>
              <div class="restaraunt_item_options">
                <span class="restaraunt_item_options_type"><i class="fa fa-gift" aria-hidden="true"></i></span>
                <span class="restaraunt_item_options_rate">5.0</span>
              </div>
            </div>
            <div class="restaraunt_item_text">
              <div class="restaraunt_item_text_title">Название</div>
              <div class="restaraunt_item_text_info">
                <span class="restaraunt_item_text_info_time">
                  ~45мин
                </span>
                <span class="restaraunt_item_text_info_cost">
                  заказ от 0 руб.
                </span>
              </div>
            </div>
          </div>

          <div class="restaraunt_item">
            <div class="restaraunt_item_wrapper">
              <div class="restaraunt_item_bg"></div>
              <div class="restaraunt_item_options">
                <span class="restaraunt_item_options_type"><i class="fa fa-gift" aria-hidden="true"></i></span>
                <span class="restaraunt_item_options_rate">5.0</span>
              </div>
            </div>
            <div class="restaraunt_item_text">
              <div class="restaraunt_item_text_title">Название</div>
              <div class="restaraunt_item_text_info">
                <span class="restaraunt_item_text_info_time">
                  ~45мин
                </span>
                <span class="restaraunt_item_text_info_cost">
                  заказ от 0 руб.
                </span>
              </div>
            </div>
          </div>

          <div class="restaraunt_item">
            <div class="restaraunt_item_wrapper">
              <div class="restaraunt_item_bg"></div>
              <div class="restaraunt_item_options">
                <span class="restaraunt_item_options_type"><i class="fa fa-gift" aria-hidden="true"></i></span>
                <span class="restaraunt_item_options_rate">5.0</span>
              </div>
            </div>
            <div class="restaraunt_item_text">
              <div class="restaraunt_item_text_title">Название</div>
              <div class="restaraunt_item_text_info">
                <span class="restaraunt_item_text_info_time">
                  ~45мин
                </span>
                <span class="restaraunt_item_text_info_cost">
                  заказ от 0 руб.
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="restaraunts">
    <div class="section_title">
      <div class="container">
        <h2>Все рестораны</h2>
      </div>
    </div>
    <div class="restaraunts_container container">
      <div class="row">
        <div class="restaraunts_list">
          <div class="restaraunt_item">
            <div class="restaraunt_item_wrapper">
              <div class="restaraunt_item_bg"></div>
              <div class="restaraunt_item_options">
                <!-- <span class="restaraunt_item_options_type">подарок</span> -->
                <span class="restaraunt_item_options_rate">5.0</span>
              </div>
            </div>
            <div class="restaraunt_item_text">
              <div class="restaraunt_item_text_title">Название</div>
              <div class="restaraunt_item_text_info">
                <span class="restaraunt_item_text_info_time">
                  ~45мин
                </span>
                <span class="restaraunt_item_text_info_cost">
                  заказ от 0 руб.
                </span>
              </div>
            </div>
          </div>

          <div class="restaraunt_item">
            <div class="restaraunt_item_wrapper">
              <div class="restaraunt_item_bg"></div>
              <div class="restaraunt_item_options">
                <!-- <span class="restaraunt_item_options_type">подарок</span> -->
                <span class="restaraunt_item_options_rate">5.0</span>
              </div>
            </div>
            <div class="restaraunt_item_text">
              <div class="restaraunt_item_text_title">Название</div>
              <div class="restaraunt_item_text_info">
                <span class="restaraunt_item_text_info_time">
                  ~45мин
                </span>
                <span class="restaraunt_item_text_info_cost">
                  заказ от 0 руб.
                </span>
              </div>
            </div>
          </div>

          <div class="restaraunt_item">
            <div class="restaraunt_item_wrapper">
              <div class="restaraunt_item_bg"></div>
              <div class="restaraunt_item_options">
                <!-- <span class="restaraunt_item_options_type">подарок</span> -->
                <span class="restaraunt_item_options_rate">5.0</span>
              </div>
            </div>
            <div class="restaraunt_item_text">
              <div class="restaraunt_item_text_title">Название</div>
              <div class="restaraunt_item_text_info">
                <span class="restaraunt_item_text_info_time">
                  ~45мин
                </span>
                <span class="restaraunt_item_text_info_cost">
                  заказ от 0 руб.
                </span>
              </div>
            </div>
          </div>
          
          <div class="restaraunt_item">
            <div class="restaraunt_item_wrapper">
              <div class="restaraunt_item_bg"></div>
              <div class="restaraunt_item_options">
                <!-- <span class="restaraunt_item_options_type">подарок</span> -->
                <span class="restaraunt_item_options_rate">5.0</span>
              </div>
            </div>
            <div class="restaraunt_item_text">
              <div class="restaraunt_item_text_title">Название</div>
              <div class="restaraunt_item_text_info">
                <span class="restaraunt_item_text_info_time">
                  ~45мин
                </span>
                <span class="restaraunt_item_text_info_cost">
                  заказ от 0 руб.
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

</main>

<section class="functional">
  <div class="current_category">
    <div class="current_category_text">Суши <span class="close">×</span></div>
  </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>