
.header {
  border-bottom: 1px solid #e0e0e0;
  height: 80px;
  display: flex;
  padding: 0 40px;
  position: relative;
  align-items: center;
  flex-direction: row;

  & .header_content {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 21px;
  }
  
  &_number {
    font-size: 25px;
    margin-left: 35px;
  }

  &_logo {
    max-width: 160px;
  }

  &_btn {
    color: #000;
    height: 32px;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 0 16px;
    display: block;
    font-size: 15px;
    background: transparent;
    box-shadow: none;
    line-height: 16px;
    margin-left: 20px;
    white-space: nowrap;
    border-radius: 100px;

    & span {
      display: block;
      padding: 7px 0;

      &:nth-child(2) {
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid #ccc;
      }
    }
  }

  &_location {
    display: flex;
    margin-left: auto;
  }

  & .mobile {
    display: none;
  }

  @media screen and (max-width: 719px) {
    padding: 0;
    height: 60px;

    & .header_content {
      display: none;

      &.mobile {
        display: flex;
      }
    }

    &_number {
      margin: 0 auto;
    }

  }
}
