
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;

  border-bottom: 1px solid $borer-light;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #fff;

  & .header_content {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 21px;
  }
  
  &_number {
    font-size: 25px;
    margin-left: 35px;
  }

  &_logo {
    max-width: 180px;
    & a {
      display: flex;
    }
  }

  &_btn {
    color: #000;
    height: 32px;
    cursor: pointer;
    display: block;
    font-size: 15px;
    background: transparent;
    box-shadow: none;
    line-height: 16px;
    margin-left: 20px;
    white-space: nowrap;

    & span {
      display: block;
      padding: 7px 14px;
      border: 1px solid #ccc;
      border-radius: 100px;
    }
  }

  &_location {
    display: flex;
    margin-left: auto;

    &.header_btn {
      
      & span:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      & span:nth-child(2) {
        background: $coral-color;
        border: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &_city {
    position: relative;

    &.active {

      & span {
        background: #e6e6e6;
      }

      & .header_city_modal {
        display: block;
      }
    }

    &_modal {
      display: none;

      position: absolute;
      top: 100%;
      right: 0;
      margin: 0;
      padding: 10px 0;
      min-width: 100px;
      z-index: 9;

      margin-top: 5px;
      overflow-y: auto;
      background: #fff;
      box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      max-height: 250px;

      & li {
        cursor: pointer;
        padding: 10px 0 10px 15px;
        position: relative;
        font-size: 16px;

        &:hover {
          background: #e6e6e6;
        }
      }
    }
  }

  & .mobile {
    display: none;
  }


  &_categories {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    background: #ececec;
    z-index: 999;
    width: 80%;
    height: 100vh;

    &_head {
      display: flex;
      align-items: center;
      height: 60px;
      background: #fff;
      
      &_close {
        font-size: 35px;
        padding: 5px 10px;
      }
      
      & .header_logo {
        margin: 0 auto;
      }
    }

    &_list {
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
    }

    &_item {
      width: calc(50% - 15px);
      text-align: center;
      margin-right: 15px;
      margin-bottom: 15px;
      background: #fff;
      border-radius: 10px;

      &_img {
        width: 100%;
        min-height: 100px;
      }

      &_text {
        text-transform: capitalize;;
      }
    }
    @media screen and (max-width: 719px) {
      &.active {
        display: block;
      }
    }
  }

  &.fixed {
    box-shadow: 0 0 8px rgba(0,0,0,.8);
  }

  @media screen and (max-width: 719px) {
    height: 60px;

    & .header_content {
      display: none;

      &.mobile {
        display: flex;
      }
    }

    &_number {
      margin: 0 auto;
    }

  }
}
