.hero {
  padding: 135px 0 55px;
  background: #8c8c8c;
  border-bottom: 1px solid $borer-light;

  &_text {   
    &_title {
      margin: 0;
      font-size: 50px;
      color: #fff;
      max-width: 1000px;
      line-height: 1.2;
      font-weight: 400;
    }

    &_description {
      display: none;
    }
  }

  &_adress {
    margin-top: 30px;

    &.mobile {
      display: none;
    }

    &_form {
      display: flex;
      height: 56px;
      max-width: 900px;

      &_input {
        padding: 0 35px !important;
        font-size: 18px !important;
        background: white !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;

        &_wrapper {
          flex: 2;
          position: relative;

          &:before {
            content: "\f124";
            position: absolute;
            height: 100%;
            line-height: 3;
            left: 10px;
            font-size: 18px;
            color:#464646;
            pointer-events: none;
          }
        }

        &_close {
          position: absolute;
          right: 10px;
          height: 100%;
          line-height: 1.8;
          font-size: 30px;
          font-weight: 600;
          cursor: pointer;
          user-select: none;
        }

        &_list {
          position: absolute;
          top: 100%;
          width: 100%;
          background: #fff;
          padding: 10px 0;
          margin-top: -1px;
          border-top: 1px solid #e0e0e0;
          box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
          z-index: 9;

          &_item {
            cursor: pointer;
            padding: 10px 0 10px 20px;
            font-size: 16px;

            & span {
              display: block;

              &:first-child {
                font-size: 18px;
              }

              &:last-child {
                margin-top: 5px;
                color: grey;
              }
            }

            &:hover {
              background: #e6e6e6;
            }
          }
        }
      }

      &_submit {
        flex: 1;
        color: #000000;
        background: $coral-color;
        font-weight: bold;
        padding: 0 24px;
        font-size: 18px !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }

  

  &_input {
    border: none !important;
    margin: 0 !important;
    box-shadow: none !important;
    font-size: 14px;
    min-height: 62px;
    text-align: center;

    &_container {
      margin-top: 20px;
      border-bottom: 1px solid rgba(0,0,0,.05);
      border-top: 1px solid rgba(0,0,0,.05);
    } 
  }

  @media screen and (max-width: 719px) {
    padding: 95px 0 25px;
    
    &_text {
      max-width: 220px;
      margin-bottom: 20px;
  
      &_title {
        font-size: 24px;
        line-height: 1.26;
        margin: 15px 0;
      }
  
      &_description {
        display: block;
        color: $light-grey-color;
        font-size: 12px;
        line-height: 1.67;
        margin: 10px 0;
      }
    }

    &_adress {
      display: none;
  
      &.mobile {
        display: block;
      }

      &_button {
        max-width: 250px;
        height: 40px;
        margin: 0 auto;
        background: $coral-color;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        box-shadow: 0 4px 12px 0 rgba(255, 231, 95, 0.3), 0 2px 4px 0 rgba(255, 224, 51, 0.3);

        & i {
          margin-right: 10px;
        }
      }
    }

  }
}