$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
$white-color: #fff;
$coral-color: #e64049;
$light-grey-color: silver;
$dark-grey-color: #75736F;
$borer-light: #f1f1f1;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body, ul, li {
  font-family: $font-stack;
}

a {
  color: inherit;
}

img {
  width: 100%;  
}

input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

.row {
  margin-bottom: 0;
}

.section_title {
  text-align: left;
  font-weight: bold;
  margin: 16px 0 24px;

  & h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }

  @media screen and (max-width: 719px) {
    background-color: #F5F4F2;
    color: $dark-grey-color;
    margin: 0;

    & h2 {
      font-size: 13px;
      padding: 10px 0px;
      margin: 0;
    }
  }
}

.slick-arrow {
  position: absolute;
  right: -24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &.prev {
    right: auto;
    left: 0;
  }

  .slick-button {
  position: relative;

    &:before {
      display: block;
      content: '';
      position: absolute;
      right: 2px;
      top: 11px;
      width: 17px;
      height: 17px;
      border-top: 2px solid;
      border-right: 2px solid;
      border-color: $coral-color;
      transform-origin: 0 0;
      transform: rotate(45deg);
    }

    &.prev {
      &:before {
        margin-top: 24px;
        transform: rotate(225deg);
      }
    }
  }
}
.slick-slide {
  outline: none;
}