$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
$white-color: #fff;
$coral-color: #e64049;
$light-grey-color: silver;
$dark-grey-color: #75736F;
$borer-light: #f1f1f1;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body, ul, li {
  font-family: $font-stack;
}

a {
  color: inherit;
}

img {
  width: 100%;  
}

input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
}

.row {
  margin-bottom: 0;
}

.section_title {
  text-align: left;
  font-weight: bold;
  margin: 16px 0 24px;

  & h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
  }

  @media screen and (max-width: 719px) {
    background-color: #F5F4F2;
    color: $dark-grey-color;
    margin: 0;

    & h2 {
      font-size: 13px;
      padding: 10px 0px;
      margin: 0;
    }
  }
}