@import 'main';
@import 'header';
@import 'hero';
@import 'categories';
@import 'restaraunts';
@import 'functional';

.breadcrumbs {
  margin: 0 0 5px 3px;
  color: $light-grey-color;
  padding-bottom: 6px;

  &_item {
    position: relative;
    font-size: 16px;

    &:after {
      content: " · ";
    }
    &:last-child:after {
      content: none;
    }
  }

  @media screen and (max-width: 719px) {
    margin: 10px 0;

    &_item {
      font-size: 12px;
    }
  }
}

.search {
  padding: 20px 0;
  border-bottom: 8px solid #fafafa;

  &_form {
    height: 45px;
    max-width: 900px;

    &_input {
      border: 1px solid #e8e8e8 !important;
      height: 100%;
      // max-width: 400px;
      padding: 0 35px 0 35px !important;
      box-shadow: none;

      &_wrapper {
        position: relative;
        height: 100%;
        display: block;

        &::before {
          content: "\f002";
          position: absolute;
          height: 100%;
          line-height: 2.5;
          left: 10px;
          font-size: 18px;
          color: #464646;
          pointer-events: none;
        }
      }
    }
  }
  
  @media screen and (max-width: 719px) {
    border-bottom: none;
    
    &_form {

      &_input {
        max-width: 100%;
        background: #efefef !important;
      }
    }
  }
}


.sales {
  padding: 20px 0;
  border-bottom: 8px solid #fafafa;
  
  overflow: hidden;

  &_list {
    display: flex;
    white-space: nowrap;
    overflow-y: auto;
    padding: 15px 0;

    & .restaraunt_item {
      margin-right: 20px;
      margin-bottom: 20px;
      width: calc(100% / 3 - 20px);
      flex: none;

      @media screen and (max-width: 1030px) {
        width: calc(50% - 20px);
      }

      @media screen and (max-width: 650px) {
        max-width: none;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 719px) {
    border-bottom: none;
  }
}



