$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
$coral-color: #e4424b;
$white-color: #fff;
$yellow-color: #fee033;
$light-grey-color: silver;
$dark-grey-color: #75736F;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: $font-stack;
}

a {
  color: inherit;
}

.section_title {
  color: $dark-grey-color;
  padding: 8px 16px;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
  background-color: #F5F4F2;
}


.header {
  background: $coral-color;
  // min-height: 90px;
  color: $white-color;
  
  &_container {

    & .row {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      min-height: 60px;
      font-size: 21px;
    }
  }

  &_number {
    font-size: 25px;
    margin: 0 auto;
  }
}



.hero {

  &_text {
    max-width: 220px;
    margin-bottom: 20px;

    &_title {
      font-size: 24px;
      line-height: 1.26;
      margin: 15px 0;
    }

    &_description {
      color: $light-grey-color;
      font-size: 12px;
      line-height: 1.67;
      margin: 10px 0;
    }
  }

  &_button {
    width: 250px;
    height: 40px;
    margin: 0 auto;
    background: $yellow-color;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 4px 12px 0 rgba(255, 231, 95, 0.3), 0 2px 4px 0 rgba(255, 224, 51, 0.3);
    
    &_container {
      margin-top: 20px;
    }
  }

  &_input {
    border: none !important;
    margin: 0 !important;
    box-shadow: none !important;
    font-size: 14px;
    min-height: 62px;
    text-align: center;

    &_container {
      margin-top: 20px;
      border-bottom: 1px solid rgba(0,0,0,.05);
      border-top: 1px solid rgba(0,0,0,.05);
    } 
  }
}


.categories {
  margin: 20px 0;
  overflow: hidden;
  text-align: center;

  &_list {
    top: 15px;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: -15px;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  &_item {
    &:first-child {
      margin-left: 16px;
    }
    width: 70px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;

    &_img {
      width: 70px;
      height: 70px;
      border: 1px solid rgba(0,0,0,.05);
      display: block;
      transition: all 200ms;
      border-radius: 20px;
      background-size: 34px 34px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &_text {
      color: $light-grey-color;
      margin-top: 5px;
      height: 16px;
      display: block;
      overflow: hidden;
      font-size: 13px;
      text-align: center;
      white-space: normal;
      text-overflow: ellipsis;
      text-decoration: none;
    }
  }
}

.sales {
  width: 100vw;
  overflow: hidden;
  margin-top: 20px;

  &_list {
    height: 260px;
    display: flex;
    position: relative;
    margin-top: 18px;
    white-space: nowrap;
    
    overflow-y: auto;

    & .restaraunt_item {
      flex: 0 0 auto;
      width: 85%;
      height: 260px;
      padding-left: 12px;
      vertical-align: top;
    }
  }
}

.restaraunt_item {

  &_wrapper {
    height: 185px;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
  }

  &_bg {
    background: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  &_options {
    position: absolute;
    bottom: 0;
    padding: 15px;
    width: 100%;
    display: flex;

    // &_type{

    // }

    &_rate {
      margin-left: auto;
    }
  }

  &_text {

    &_title {
      padding: 10px 12px 0 12px;
      overflow: hidden;
      font-size: 21px;
      line-height: 1;
      font-weight: 500;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_info {
      padding: 4px 12px 0 12px;
      display: flex;
      font-size: 15px;

      &_time {
        margin-right: 7px;
      }
    }
  }
}

.restaraunts {

  &_list {
    min-height: 150px;
    padding-top: 20px;
    margin: 0 16px;

    & .restaraunt_item {
      height: 265px;
    }
  }
}

.breadcrumbs {
  margin: 10px 0;
  color: $light-grey-color;
  padding-bottom: 6px;

  &_item {
    position: relative;
    font-size: 12px;

    &:after {
      content: " · ";
    }
    &:last-child:after {
      content: none;
    }
  }
}

.functional {
  position: fixed;
  z-index: 50000;
  left: 0;
  width: 100%;
  bottom: 0;
}
.current_category {
  top: -64px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  align-items: start;
  justify-content: center;
  
  &_text {
    height: 44px;
    padding: 10px 7px 10px 15px;
    display: flex;
    background: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.09);
    align-items: center;
    font-weight: bold;
    border-radius: 21px;

    & .close {
      font-size: 22px;
      margin-left: 5px;
    }
  }
}