@import 'main';
@import 'header';
@import 'hero';
@import 'categories';
@import 'restaraunts';

.sales {
  overflow: hidden;

  &_list {
    height: 260px;
    display: flex;
    position: relative;
    margin-top: 18px;
    white-space: nowrap;
    
    overflow-y: auto;

    & .restaraunt_item {
      flex: 0 0 auto;
      width: 85%;
      height: 260px;
      padding-left: 12px;
      vertical-align: top;
    }
  }
}




.functional {
  position: fixed;
  z-index: 50000;
  left: 0;
  width: 100%;
  bottom: 0;
}
.current_category {
  top: -64px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  align-items: start;
  justify-content: center;
  
  &_text {
    height: 44px;
    padding: 10px 7px 10px 15px;
    display: flex;
    background: white;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.09);
    align-items: center;
    font-weight: bold;
    border-radius: 21px;

    & .close {
      font-size: 22px;
      margin-left: 5px;
    }
  }
}